<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clase 10</title>
</head>
<body>
    <%- include('../partials/navbar') %>
    <div class="container">
        <% if(products.length){ %>
        <h1>Productos</h1>
        <table>
            <thead>
                <tr>
                <th>ID</th>
                <th>title</th>
                <th>price</th>
                <th>thumbnail</th>
                </tr>
            </thead>
            <% products.forEach(({id, title, price, thumbnail}) => { %>
            <tbody>
                <tr>
                <td><%= id %></td>
                <td><%= title %></td>
                <td><%= price %></td>
                <td><img style="max-height: 25px; max-width: auto;" src=<%=thumbnail%>/></td>
                </tr>
                <% }); %>
            </tbody>
        </table>
        <% } else { %>
            <h1>No hay productos.</h1>
            <% } %>
    </div>
</body>
</html>